<div class="itemStyle" style="margin-top: 30px;margin-bottom: 30px;">
  <div class="row itemSpacing">
    <div class="col-xs-12 bottomSpacing">

      <mat-form-field>
        <mat-select placeholder="Manage Game">
          <mat-option (click)="onEditGame()"> Edit Game Information </mat-option>
          <mat-option (click)="onDeleteGame()"> Delete Game </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="row">
        <div class="col-xs-12">
          <h1>{{ game.title }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <strong>Genre: </strong>
          {{ game.genre }}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <strong>Engine:</strong>
          {{ game.engine }}
        </div>
      </div>

    <div class="col-xs-12" style="margin-top: 20px; margin-bottom: 10px;">
      <div class="row">
        <div class="col-xs-12">
          <strong>Game Publishers:</strong><br>
      </div>
      <div style="margin-top: 10px;">
        <app-publisher-item
          *ngFor="let publisherEL of game.publishers"
          [publisher]="publisherEL"
          [gameId]="game._id"
          [index]="i"
          (userSelected)="onGameSelected(publisherEL)">
        </app-publisher-item>
      </div>
    </div>



  </div>
</div>
