<div class="itemStyle" style="margin-top: 30px;margin-bottom: 30px;">
  <div class="row itemSpacing">
    <div class="col-xs-12 bottomSpacing">

      <mat-form-field *ngIf="userId == game.user">
        <mat-select placeholder="Manage Game">
          <mat-option (click)="onEditGame()"> Edit Game Information </mat-option>
          <mat-option (click)="onDeleteGame()"> Delete Game </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="row">
        <div class="col-xs-12">
          <h1>{{ game.title }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <img
            [src]="game.imagePath"
            alt="Cover of the game"
            style="max-height: 300px;">
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12">
          <strong>Genre: </strong>
          {{ game.genre }}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <strong>Engine:</strong>
          {{ game.engine }}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <strong>Release date:</strong>
          {{ game.releaseDate | date:'dd/MM/yyyy'}}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <a href="{{game.website}}">Go to the games website</a>
        </div>
      </div>


      <app-game-publisher-item
            *ngFor="let publisherEL of game.publishers"
            [publisher]="publisherEL"
            [gameId]="game._id"
            [index]="i"
            (userSelected)="onGameSelected(publisherEL)">
          </app-game-publisher-item>


</div>
  </div>
</div>
