<div class="itemStyle" style="margin-top: 30px;margin-bottom: 30px;">
  <div class="row itemSpacing">
    <div class="col-xs-12 bottomSpacing">

      <mat-form-field *ngIf="userId == publisher.user">
        <mat-select placeholder="Manage Publisher">
          <mat-option (click)="onEditPublisher()"> Edit Publisher Information </mat-option>
          <mat-option (click)="onDeletePublisher()"> Delete Publisher </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="row">
        <div class="col-xs-12">
          <h1>{{ publisher.publisherName }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <strong>Founder: </strong>
          {{ publisher.founder }}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <strong>CEO:</strong>
          {{ publisher.ceo }}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <strong>Release date:</strong>
          {{ publisher.yearFounded | date:'dd/MM/yyyy'}}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <a href="{{publisher.website}}">Go to the publishers website</a>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
      <strong>Games published:</strong>
        </div>
      </div>

      <app-publisher-game-item
        *ngFor="let gameEL of gamesName"
        [game]="gameEL"
        [publisherId]="gameEL.publishers._id"
        [index]="i"
        (userSelected)="onPublisherSelected(gameEL)">
      </app-publisher-game-item>


    </div>
  </div>
</div>
