<div class="row" style="margin-top: 20px;">
  <div class="col-md-12">
    <h1>Register: </h1>
  </div>
  <div class="col-xs-12">
    <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="email">Name</label>
            <input type="text" id="email" formControlName="email" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success itemStyle" [disabled]="!userRegisterForm.valid">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>
