<div class="row" style="margin-top: 20px;">
  <div class="col-lg-12">
    <h1>Register: </h1>
    <p>password must be at least 8 characters long contain a number, <br>an uppercase letter and a special character</p>
      </div>

  <div class="col-xs-12">
    <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <h5 *ngIf="userRegisterForm.controls.email.touched && !userRegisterForm.controls.email.valid" style="color: red">Please enter a valid email address</h5>
          <h5 *ngIf="userRegisterForm.controls.password.touched && !userRegisterForm.controls.password.valid" style="color: red">Password does not meet requirements</h5>
          <h5 [hidden]="wrongToken" style="color: red" >Wrong verify token provided</h5>
          <h5 [hidden]="emailResend" >Verification Email resend</h5>
          <h5 [hidden]="emailSend" >Verification Email send</h5>
          <h5 [hidden]="alreadyExists" style="color: red" >User already exists</h5>
        </div>
      </div>
          <div class="row">
            <div class="col-xs-12">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control" ngDefaultControl="email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control">
          </div>
        </div>
      </div>
      <div [hidden]="verify" class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="emailVerifyToken">Email Token</label>
            <input type="text" id="emailVerifyToken" formControlName="emailVerifyToken" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button [hidden]="afterRegister" type="submit" class="btn btn-success itemStyle" [disabled]="!userRegisterForm.valid">Register</button>
          <button [hidden]="verify" type="button" (click)="onVerify() "class="btn btn-success itemStyle" [disabled]="!userRegisterForm.valid">Verify and Login</button>
          <button [hidden]="verify" type="button" (click)="onResendEmail()" class="btn btn-success itemStyle" [disabled]="!userRegisterForm.valid">Resend Email</button>
          <button (click)="onCancel()" type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>


    </form>
  </div>
</div>
