<div class="row" style="margin-top: 30px;">
  <div class="col-md-12">
    <h1>Game List</h1>
  </div>
  <!--<div class="col-xs-8">-->
    <!--<h5>Game not found? Add the game!</h5>-->
  <!--</div>-->
  <!--<div class="col-xs-3">-->
    <!--<button class="btn btn-success itemStyle" (click)="onNewGame()"><span class="glyphicon glyphicon-plus iconButton"></span>New Game</button>-->
  <!--</div>-->
</div>

<div class="row">
  <div class="col-xs-12">
    <app-game-item
      *ngFor="let gameEL of games; let i = index"
      [game]="gameEL"
      [index]="i"></app-game-item>
  </div>
</div>
